<fieldset>
  <legend>Login</legend>

  <label>Username</label>
  <input type="text" ng-model="formObject.username" placeholder="Your Username" required/>

  <label>Password</label>
  <input type="password" ng-model="formObject.password" placeholder="Your Password" required/>
</fieldset>


<!-- <div ng-controller="someController">
  ...
  <a href="#" form-modal
              template="sessions/login.js"
              title="Login"
              ok-button-text="Login"
              form-submit="login()"
              form-object="user">
    Login
  </a>
  ...
</div> -->


<!-- <div class="row" >
  <div class="col-md-4 col-md-offset-4">
    <h1>Register</h1>

    <div class="well">
      <form role="form" ng-submit="vm.register()">
        <div class="form-group">
          <label for="register__email">Email</label>
          <input type="email" class="form-control" id="register__email" ng-model="vm.email" placeholder="ex. john@notgoogle.com" />
        </div>


        <div class="form-group">
          <label for="register__password">Password</label>
          <input type="password" class="form-control" id="register__password" ng-model="vm.password" placeholder="ex. thisisnotgoogleplus" />
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div >
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Im a modal!</h3>
        </div>
        <div class="modal-body">

          <div class="row" >
            <div class="col-md-4 col-md-offset-4">
              <h1>Register</h1>

              <div class="well">
                <form role="form" ng-submit="vm.register()">
                  <div class="form-group">
                    <label for="register__email">Email</label>
                    <input type="email" class="form-control" id="register__email" ng-model="vm.email" placeholder="ex. john@notgoogle.com" />
                  </div>


                  <div class="form-group">
                    <label for="register__password">Password</label>
                    <input type="password" class="form-control" id="register__password" ng-model="vm.password" placeholder="ex. thisisnotgoogleplus" />
                  </div>

                  <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
            <ul>
                <li ng-repeat="item in items">
                    <a ng-click="selected.item = item">{{ item }}</a>
                </li>
            </ul>
            Selected: <b>{{ selected.item }}</b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <button class="btn btn-default" ng-click="open()">Open me!</button>
    <button class="btn btn-default" ng-click="open('lg')">Large modal</button>
    <button class="btn btn-default" ng-click="open('sm')">Small modal</button>
    <div ng-show="selected">Selection from a modal: {{ selected }}</div>
</div> -->
