
<div class="container">
  <div class="col-sm-2">
      <nav class="nav-sidebar">
      <ul class="nav tabs">
            <li class="active"><a data-target="#tab1" data-toggle="tab">General</a></li>
            <li class=""><a data-target="#tab2" data-toggle="tab">Detalle</a></li>
            <li class=""><a data-target="#tab3" data-toggle="tab">Calendario</a></li>                               
      </ul>
    </nav>
      <div><h2 class="add">Place for your add!</h2></div>
  </div>
  <div class="tab-content">
    <div class="tab-pane active text-style" id="tab1">
      <h2>Información</h2>
      <form name='activity_create_form' ng-submit="new_activity()">
        <fieldset>
          <div class="form-group">
            <label>Tipo</label>
            <!-- <select ng-model="selected_type" -->
            <select ng-model="selected_type"
                ng-options="type as type.value for type in activity_types">
            </select>
            <label>Nivel</label>
            <select ng-model="selected_level"
                ng-options="level as level.value for level in activity_levels">
            </select>
          </div>
          <div class="form-group">
            <label>Categoria</label>
            <select ng-model="selected_category"
                ng-options="category as category.name for (index,category) in activity_categories">
            </select>
            <label>Sub-Categoria</label>
            <select ng-model="selected_sub_category"
                ng-options="category as category.name for (index,category) in activity_sub_categories">
            </select>
          </div>
          <label>Tags</label>
          <tags-input ng-model="activity_tags" display-property="name"> 
            <!-- <auto-complete source="loadTags($query)"></auto-complete> -->
            <auto-complete source="loadTags()"></auto-complete>
          </tags-input>
          <hr>
          <h2>Descripción</h2>
          <div class="form-group">
            <label>Título</label>
            <input class="form-control" ng-model='activity.title' name="title"/>
            <div class="errors" ng-show="activity_create_form.title.$invalid">
              <span>{{ errors.title }}</span> 
            </div>
          </div>
          <div class="form-group">
            <label>Descripción Corta</label>
            <textarea class="form-control" ng-model='activity.large_description' name="large_description">  </textarea>
            <div class="errors" ng-show="activity_create_form.large_description.$invalid">
              <span>{{ errors.large_description }}</span> 
            </div>
          </div>
          <div class="form-group">
            <label>Descripción Detallada</label>
            <textarea class="form-control" ng-model='activity.short_description' name="short_description">  </textarea>
            <div class="errors" ng-show="activity_create_form.short_description.$invalid">
              <span>{{ errors.short_description }}</span> 
            </div>
          </div>
          <input type="submit" id="submit" class="btn btn-primary" value="Guardar"/>
          <div collapse="isCollapsed">
            Guardado
          </div>

          </fieldset>
      </form>
       <hr>
    </div>
    <div class="tab-pane text-style" id="tab2">
      <h2>Foto de Perfíl</h2>
    </div>
    <div class="tab-pane text-style" id="tab3">
      <h2>Stet clita</h2>
      <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Duis autem vel eum 
        iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla 
        facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit 
        augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet,</p>
        <hr>
    </div>
  </div>
</div>