# apt-get install cron
# touch /var/logs/cron.log
# chmod a+x crontab
# cp crontab /etc/cron.d/cronjobs
# cron (este es el comando)

#* * * * * /usr/local/bin/python /app/manage.py balance >> /var/log/cron.log 2>&1

30 10 * * 4 /usr/local/bin/python /app/manage.py balance >> /var/log/cron.log 2>&1
0 0 1 * * /usr/local/bin/python /app/manage.py balance_special >> /var/log/cron.log 2>&1
