# apt-get install cron
# touch /var/logs/cron.log
# chmod a+x crontab
# cp crontab /etc/cron.d/cronjobs
# cron (este es el comando)

30 10 * * 4 root python manage.py balance >> /var/logs/cron.log
0 0 1 * * root python manage.py balance_special >> /var/logs/cron.log