Django==1.7.1
Pillow==2.7.0
PyYAML==3.11
argparse==1.2.1
boto==2.36.0
dj-database-url==0.3.0
django-allauth==0.18.0
django-rest-swagger==0.2.9
django-storages==1.1.8
djangorestframework==3.0.3
gunicorn==19.1.1
oauthlib==0.7.0
psycopg2==2.5.4
python-openid==2.2.5
requests==2.4.3
requests-oauthlib==0.4.2
wsgiref==0.1.2
yolk==0.4.3
