boto==2.37.0
defusedxml==0.4.1
dj-database-url==0.3.0
dj-static==0.0.6
Django==1.8
-e git+https://github.com/pennersr/django-allauth.git
django-cors-headers==1.0.0
-e git+https://github.com/lukaszb/django-guardian@devel#egg=django-guardian
django-extensions==1.5.2
django-rest-swagger==0.2.9
django-storages-redux==1.2.3
djangorestframework==3.1.1
ecdsa==0.13
Fabric==1.10.1
gnureadline==6.3.3
gunicorn==19.3.0
ipython==3.1.0
oauthlib==0.7.2
paramiko==1.15.2
Pillow==2.8.1
psycopg2==2.6
pycrypto==2.6.1
python-openid==2.2.5
python3-openid==3.0.5
PyYAML==3.11
requests==2.6.0
requests-oauthlib==0.4.2
six==1.9.0
static3==0.5.1
yolk==0.4.3
