      <select ng-model="current_city"
          ng-options="city as city.name for city in cities" name="city" ng-change="setCurrentCity(current_city)">
          
      </select>

      <div ng-controller="RegisterController">
        <a href="#" form-modal  
                    template="/static/partials/authentication/register.html"
                    title="Register"
                    ok-button-text="Registarme"
                    form-submit="register()"
                    form-object="user"
                    form-errors="errors"
                    ng-init="user_type='O';">
          Registrarse
        </a>
      </div>

      <div ng-controller="LoginController">
        <a href="#" form-modal  
                    template="/static/partials/authentication/login.html"
                    title="Login"
                    ok-button-text="Iniciar Sesión"
                    form-submit="login()"
                    form-object="user"
                    form-errors="errors"
                    ng-click='click()'>
          Iniciar Sesión
        </a>
      </div>