{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}
{% load account %}



{% block content %}


	<!-- If reached this page, is because token is wrong, redirect to email confirmation error modal -->
	<script type="text/javascript">
		

		window.location = "/email/confirm/error/";
		
	</script>

<!-- {% if confirmation %}

{% user_display confirmation.email_address.user as user_display %}
        

<script type="text/javascript">
	

	//window.location = "/confirm-email/{{confirmation.key}}/";
	//window.location = "/messages/authentication/email_confirmation_success/";
	
</script>

{% else %}



{% endif %} -->

{% endblock %}
