{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}

{% block content %}

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <script type="text/javascript">
            window.location = '/messages/authentication/reset_password_error/';
        </script>

<!--         <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p> -->
    {% else %}
        <script type="text/javascript">
            var token = window.location.pathname.split("/").filter(function(n){ return n != "" }).pop(); 
            console.log("token",token);
            window.location = '/password/reset/key/'+token+'/';
        </script>
    {% endif %}
{% endblock %}
