<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Nuevo Mensaje</title>
</head>
<body style="text-align: center;font-size: 14px;background: #f7f7f7;color: #949494;padding: 0;margin: 0;border: 0;">

    <table width="100%" border="0" cellspacing="0" cellpading="0">
        <tbody>
            <tr style="padding: 0;margin: 0;border: 0;">
                <td valign="top" align="center" style="padding: 0;margin: 0;border: 0;">
                    <table id="content" style="width: 600px;margin: 0 auto;padding-top: 10px;">
                        <tbody>
                            <tr style="padding: 0;margin: 0;border: 0;">
                                <td valign="top" align="center" style="padding: 0;margin: 0;border: 0;">
                                    <table id="inner" border="0" cellpadding="0" cellspacing="0" width="100%" style="margin: 0 auto;position: relative;">
                                        <tbody>
                                            <tr style="padding: 0;margin: 0;border: 0;">
                                                <td style="padding: 0;margin: 0;border: 0;">
                                                    <table style="margin: 0 auto;" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                        <tbody>
                                                            <tr style="padding: 0;margin: 0;border: 0;">
                                                                <td id="header" valign="top" align="center" style="padding: 0px 0 25px 0 !important;margin: 0;border: 0;text-align: center;">
                                                                    <a href="http://trulii.com/" style="padding: 0;margin: 0;border: 0;">
                                                                        <img src="https://s3-us-west-2.amazonaws.com/trulii-dev/static/img/logo.png" alt="" style="padding: 0;margin: 0;border: 0;width: 150px;">
                                                                    </a>
                                                                </td>

                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr style="padding: 0;margin: 0;border: 0;">

                                                <td id="second" style="padding: 0;margin: 0;border: 0;">
                                                    <table id="description" style="margin: 0 auto; " border="0" cellpadding="0" cellspacing="0" width="100%">
                                                        <tbody>
                                                            <tr style="padding: 0;margin: 0;border: 0;">
                                                                <td id="content-description" valign="top" align="center" style="padding: 20px 40px 20px 40px!important;margin: 0;border: 0;text-align: center;">
                                                                    <div>
                                                                        <div style="margin-bottom:30px;">
                                                                             <h1 style="margin: 0 auto;  font-family: 'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif; text-align: center;  color: #7B7B7B; margin-bottom:20px;">Hola {{ name }}, tienes una nueva notificación del organizador de tu clase {{activity}}:</h1>
                                                                            <span style="font-size: 19px;  font-family: 'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif; text-align: center; display: block; margin-bottom: 15px;"><strong>{{ organizer }}</strong></span>

                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr style="padding: 0;margin: 0;border: 0;">
                                                <td id="content-button-action" valign="top" align="center" style="padding: 20px 40px 40px 40px!important;margin: 0;border: 0;padding-top: 20px !important;text-align: center;">
                                                    <a href="{{ url }}" style="padding: 0;margin: 0;border: 0;text-decoration: none;">
                                                        <div id="button" style="margin: 0 auto;padding: 15px 60px 15px 60px;border: 0;background: #38dbc8;color: white;text-decoration: none;text-transform: uppercase;text-align: center;font-size: 13px;font-weight: bold;border-radius: 4px;">
                                                            <span style="font-family: 'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif; ">Ver más detalle</span>
                                                        </div>
                                                    </a>

                                                </td>
                                            </tr>


                                            <tr style="padding: 0;margin: 0;border: 0;">
                                                <td id="footer" style="padding: 20px !important;margin: 0 auto !important;border: 0;">
                                                    <table style="margin: 0 auto;" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                        <tbody>
                                                            <tr style="padding: 0;margin: 0;border: 0;">
                                                                <td valign="top" align="center" style="padding: 0;margin: 0;border: 0;">
                                                                    <div id="contact">
                                                                        <span style="display: block; margin-bottom:25px; font-family: 'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif">
                                                                            Contáctate con nosotros
                                                                        </span>
                                                                        <span title="Facebook"><a  target="_blank" href="https://www.facebook.com/truliilatam/?fref=ts"> <img src="https://s3-us-west-2.amazonaws.com/trulii-dev/static/img/facebook_gray.png" alt="" style="margin-right:2px;"></a></span>
                                                                        <span title="Twitter"><a  target="_blank" href="https://twitter.com/Trulii_"> <img src="https://s3-us-west-2.amazonaws.com/trulii-dev/static/img/twitter_gray.png" alt="" style="margin-right:2px;"></a></span>
                                                                        <span title="Email"><a  target="_blank" href="mailto:alo@trulii.com"> <img src="https://s3-us-west-2.amazonaws.com/trulii-dev/static/img/email_gray.png" alt=""></a></span>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

</body>
</html>
