<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h2>{{ activity.organizer.name }}</h2>
<h2>{{ activity.title }}</h2>

{% for calendar in calendars %}
    <div>Inicio: {{ calendar.initial_date|date:"d b Y" }} | Cierre: {{ calendar.closing_sale|date:"d b Y" }}</div>
    <hr/>
    <table>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo</th>
            <th>Nro. Orden</th>
            <th>Código</th>
        </tr>
    {% for assistant in calendar.get_assistants %}
        <tr>
            <td>{{ assistant.first_name }}</td>
            <td>{{ assistant.last_name }}</td>
            <td>{{ assistant.email }}</td>
            <td>{{ assistant.order.id }}</td>
            <td>{{ assistant.token }}</td>
        </tr>
    {% endfor %}
    
    </table>
    <br/>
{% endfor %}

</body>
</html>