<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Contacto</title>
</head>
<body style="text-align: center;font-size: 14px;background: #f7f7f7;color: #949494;padding: 0;margin: 0;border: 0;">

    <table width="100%" border="0" cellspacing="0" cellpading="0">
        <tbody>
            <tr style="padding: 0;margin: 0;border: 0;">
                <td valign="top" align="center" style="padding: 0;margin: 0;border: 0;">
                    <table id="content" style="width: 600px;margin: 0 auto;padding-top: 10px;">
                        <tbody>
                            <tr style="padding: 0;margin: 0;border: 0;">
                                <td valign="top" align="center" style="padding: 0;margin: 0;border: 0;">
                                    <table id="inner" border="0" cellpadding="0" cellspacing="0" width="100%" style="margin: 0 auto;position: relative;">
                                        <tbody>
                                            <tr style="padding: 0;margin: 0;border: 0;">
                                                <td style="padding: 0;margin: 0;border: 0;">
                                                    <table style="margin: 0 auto;" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                        <tbody>
                                                            <tr style="padding: 0;margin: 0;border: 0;">
                                                                <td id="header" valign="top" align="center" style="padding: 0px 0 25px 0 !important;margin: 0;border: 0;text-align: center;">
                                                                    <a href="http://trulii.com/" style="padding: 0;margin: 0;border: 0;">
                                                                        <img src="https://s3-us-west-2.amazonaws.com/trulii-dev/static/img/logo.png" alt="" style="padding: 0;margin: 0;border: 0;width: 150px;">
                                                                    </a>
                                                                </td>

                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr style="padding: 0;margin: 0;border: 0;">

                                                <td id="second" style="padding: 0;margin: 0;border: 0;">
                                                    <table id="description" style="margin: 0 auto; " border="0" cellpadding="0" cellspacing="0" width="100%">
                                                        <tbody>
                                                            <tr style="padding: 0;margin: 0;border: 0;">
                                                                <td id="content-description" valign="top" align="center" style="padding: 20px 40px 0px 40px!important;margin: 0;border: 0;text-align: center;">
                                                                    <div>
                                                                        <div style="margin-bottom:30px;">
                                                                             <h1 style="margin: 0 auto;  font-family: 'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif; text-align: center;  color: #7B7B7B; margin-bottom:20px;">{{name}}</h1>
                                                                            <span style="font-size: 20px;  font-family: 'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif; text-align: center; display: block; margin-bottom: 5px;">{{email}}</span>
                                                                            <span style="font-size: 20px;  font-family: 'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif; text-align: center; display: block; margin-bottom: 5px;">{{phone_number}}</span>
                                                                            <span style="font-size: 20px;  font-family: 'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif; text-align: center; display: block; margin-bottom: 5px;">{{topic}}</span>

                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr style="padding: 0;margin: 0;border: 0;">
                                                <td id="second" style="padding: 0;margin: 0;border: 0;">
                                                    <table id="description" style="margin: 0 auto; margin-bottom:20px;" border="0" cellpadding="0" cellspacing="0" width="520">
                                                        <tbody>
                                                            <tr style="padding: 0;margin: 0;border: 0;">
                                                                <td id="" valign="top" align="center" style="padding: 30px 30px 30px 30px;margin: 0;border: 0;background: #F1F1F1;">
                                                                    <span style="font-family: 'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif; font-size: 17px; font-weight: 100;color: #7B7B7B;">{{description}}  </span>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>


                                           


                                          
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

</body>
</html>
