<div class="row" >
  <div class="col-md-12">
    <div>
      <fieldset>
      <a title="Facebook" class="socialaccount_provider facebook" href="javascript:allauth.facebook.login('', 'authenticate', 'login')">Facebook</a>

       <!--  <input type="email" class="form-control" name="email" ng-model="formObject.email"  server-error novalidate/> -->
        
        <div class="form-group">
          <label>Nombre</label>
          <input type="text" class="form-control" name="first_name" ng-model="formObject.first_name"  server-error placeholder="Introduce tu nombre">
          <div class="errors" ng-show="generic_form.first_name.$invalid">
            <span ng-show="generic_form.first_name.$error.server">{{ formErrors.first_name }}</span>
          </div>
        </div>


        <div class="form-group">
          <label>Apellido</label>
          <input type="text" class="form-control" name="last_name" ng-model="formObject.last_name"  server-error placeholder="Introduce tu apellido">
          <div class="errors" ng-show="generic_form.last_name.$invalid">
            <span ng-show="generic_form.last_name.$error.server">{{ formErrors.last_name }}</span>
          </div>
        </div>

        <div class="form-group">
          <label>Email</label>
          <input type="text" class="form-control" name="email" ng-model="formObject.email"  server-error placeholder="Introduce un correo">
          <div class="errors" ng-show="generic_form.email.$invalid">
            <span ng-show="generic_form.email.$error.server">{{ formErrors.email }}</span>
          </div>
        </div>

        <div class="form-group">
          <label>Password</label>
          <input type="password"  class="form-control" name="password1" ng-model="formObject.password1" server-error placeholder="Introduce una contraseña" >
          <div class="errors" ng-show="generic_form.password1.$invalid">
            <span ng-show="generic_form.password1.$error.server">{{ formErrors.password1 }}</span>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
</div>
<!-- <div class="row" >
  <div class="col-md-4 col-md-offset-4">
    <h1>Register</h1>

    <div class="well">
        <div class="form-group">

          <label for="email">Email</label>

          <input type="email" class="form-control" id="email" ng-model="formObject.email" name="email" placeholder="ex. john@notgoogle.com" / server-error>
          
          <span ng-show="formObject.email.$error.server">{{ formErrors.email }}</span>
          <div class="errors" ng-show="formObject.email.$dirty && formObject.email.$invalid">
            <span ng-show="formObject.email.$invalid">{{ formErrors.email }}</span>
          </div>
        </div>


        <div class="form-group">
          <label for="password1">Password</label>
          {{form.password1.$error.server}}
          <input type="password" class="form-control" id="password1" name="password1" ng-model="formObject.password1" placeholder="ex. thisisnotgoogleplus" server-error/>
          <div class="errors" ng-show="formObject.password1.$dirty && formObject.password1.$invalid">
            <span ng-show="formObject.password1.$error.server">{{ formErrors.password1 }}</span>
          </div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
  </div>
</div>
 -->