{% load static from staticfiles %}
{% load url from future %}
<!DOCTYPE html>
<html ng-app="trulii">
  <head>
    <base href="/">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'css/ng-tags-input.bootstrap.min.css' %} ">
    <link rel="stylesheet" href="{% static 'css/ng-tags-input.min.css' %} ">

    <script>
    console.log("sadasd");
    </script>
  </head>
  <body>

  <ui-view>hola</ui-view>
  {%include 'javascripts.html'%}

  </body>
</html>
