{% load staticfiles%}
{% load url from future %}
<!DOCTYPE html>
<html ng-app="trulii">
  <head>

    <base href="/">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-cookies.js"></script>


    <script type="text/javascript" src="{% static 'js/lib/ui-bootstrap-tpls-0.12.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/trulii.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/trulii.config.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/trulii.routes.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/authentication/authentication.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/authentication/services/authentication.service.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/authentication/controllers/register.controller.js' %}"></script>


    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
  </head>
  <body >
    {% block body %}

    {% if messages %}
    <div>
      <strong>Messages:</strong>
      <ul>
	{% for message in messages %}
	<li>{{message}}</li>
	{% endfor %}
      </ul>
    </div>
    {% endif %}
    <div ng-view></div>
    <div >
      <strong>Menu:</strong>
      <ul>
	{% if user.is_authenticated %}
	<li><a href="{% url 'account_email' %}">Change E-mail</a></li>
	<li><a href="{% url 'account_logout' %}">Sign Out</a></li>
	{% else %}
	<li><a href="{% url 'account_login' %}">Sign In</a></li>
	<li><a href="{% url 'account_signup' %}">Sign Up</a></li>

  <a href="#" form-modal
              template="sessions/login.js"
              title="Login"
              ok-button-text="Login"
              form-submit="login()"
              form-object="user">
    Login
  </a>
  
	{% endif %}
      </ul>
    </div>
    {% block content %}
    {% endblock %}
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
  </body>
</html>
