{% load static from staticfiles %}
{% load url from future %}
<!DOCTYPE html>
<html ng-app="trulii">
  <head>
    <base href="/">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/ng-tags-input.bootstrap.min.css' %} ">
    <link rel="stylesheet" href="{% static 'css/ng-tags-input.min.css' %} ">

  </head>
  <body>

  <ui-view></ui-view>


  <script type="text/ng-template" id="modalContainer">
      
  </script>
  {%include 'javascripts.html'%}

  </body>
</html>
